name: Add Issue To Backlog
on:
  workflow_dispatch:
  issues:
    types:
      -labeled

jobs:
  move-backlog:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/add-to-project@v0.5.0
        with:
          # You can target a project in a different organization
          # to the issue
          project-url: https://github.com/users/BlueberryMountainStudio/projects/9
          github-token: ${{ secrets.WORKFLOW_TOKEN }}
